---
---
@import "jekyll-theme-minimal";

html {
  scroll-behavior: smooth;
}

body {
    background-color: #28282f;
}

h1, h2, h3 {
    color: white;
}

p, li {
    color: lightgrey;
}

small {
    color: #afafaf
}

a {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #267CB9;
    transition: all 0.2s ease;
}

a:hover {
    text-decoration: underline;
    border-radius: 8px;
    background-color: #383838;
    
}

header a:hover {
    background-color: transparent;
}

header a {
    color: whitesmoke;
}

code {
    color: whitesmoke;
    border-radius: 8px;
    background-color: #000000;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    @media (min-width: 960px) {
        width: 65%;
    }
}

.highlight {
    background-color: transparent;
}

pre.highlight {
    background-color: #1f1f1f;
    border: none;
    border-radius: 12px;
    .nt { color: #569cd6 !important; }
    .nl { color: #9cdcfe !important; }
    .mh, .m, .mi { color: #b5cea8 !important; }
    .s2, .s { color: #ce9178 !important; }
    .o, .p { color: #d4d4d4 !important; }
    .nd { color: #a6e22e !important; }
    .no, .nb { color: #4ec9b0 !important; }
    .k { color: #ff90d3 !important; }
    .nc { color: goldenrod !important; }
    .n {color: #d800ff}
}

pre code {
    background-color: transparent;
    padding: 0;
}

::-webkit-scrollbar-track {
    background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background-color: #303060;
    border-radius: 8px;
    border: 2px solid #1f1f1f;
    transition: all 0.2s ease;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #383868;
}

#Top-button {
    font-size: 12px;
    padding: 8px;
    position: fixed;
    bottom: 10px;
    left: calc(50% + 257.79px);
    background-color: #000000;
    border-radius: 32px;
    border: 1px solid #1f1f1f;
    transition: all 0.2s ease;
    z-index: 10;

    @media (max-width: 900px) {
        left: 50%;
    }
}

#Top-button:hover {
    background-color: #1a1a1a;
    border: 1px solid #2f2f2f;
    text-decoration: none;
}

#Top-button:active {
    background-color: #0f0f0f;
    border: 1px solid #3a3a3a;
}

#posts-list {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}

#posts-list li {
    position: relative;
    padding: 24px;
    margin-bottom: 12px;
    background-color: #1f1f1f;
    border-radius: 12px;
    list-style-type: none;
    transition: all 0.2s ease;
}

#posts-list li a {
    text-decoration: none;
    font-weight: bold;
    color: #5fff5f;
}

#posts-list li span {
    position: absolute;
    right: 16px;
   
    @media (max-width: 400px) {
        position: unset;
        font-size: small;
    }
}

#posts-list li a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#posts-list li:hover {
    background-color: #252525;
    cursor: pointer;
    padding: 23px
}

#posts-list li:hover a {
    text-decoration: underline;
    color: aquamarine;
    font-size: 16px;
}

#posts-list li a:hover {
    background-color: transparent;
}

#index {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding-left: 0;
    gap: 10px;
    top: 8px;
    font-weight: bold;
    list-style-type: none;
}

#index li a {
    color: #267cb9;
}