---
---
@import "jekyll-theme-minimal";

body {
    background-color: #28282f;
}

h1 {
    color: white;
}

p {
    color: lightgrey;
}

a {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #267CB9;
    transition: all 0.2s ease;
}

a:hover {
    text-decoration: underline;
    border-radius: 8px;
    background-color: #383838;
    
}

header a:hover {
    background-color: transparent;
}

header a {
    color: whitesmoke;
}

code {
    color: whitesmoke;
    border-radius: 8px;
    background-color: #000000;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    @media (min-width: 960px) {
        width: 65%;
    }
}

pre.highlight {
    background-color: #1f1f1f;
    border: none;
    .nt { color: #569cd6 !important; }
    .nl { color: #9cdcfe !important; }
    .mh, .m, .mi { color: #b5cea8 !important; }
    .s2, .s { color: #ce9178 !important; }
    .o, .p { color: #d4d4d4 !important; }
    .nb { color: #dcdcaa !important; }
    .no { color: #4ec9b0 !important; }
    .k { color: #d190ff !important; }
}

pre code {
    background-color: transparent;
    padding: 0;
}